<!DOCTYPE html>
<html>
  <head>
    <title>Donut Careers</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <style>
      #banner {
        height: 360px;
        width: 100%;
        object-fit: cover;
        margin-bottom: 16px;
      }
    </style>
  </head>
  <body>
    {% include 'nav.html' %}
    <img class="img-fluid" id="banner" src="https://7c37b5ba-c844-41e4-bf22-e9afced29748-00-2coyapezfrte6.janeway.replit.dev//static/donuts58.jpg">
    <div class="container">
      <h1 class="text-center mt-2 mb-4">
        {{company_name}} Careers</h1>
      <div class="row" style="margin-bottom:16px">
        <div class="col-md-6">
      <p class="lead">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse scelerisque diam ut ipsum tempus, nec malesuada risus maximus. Aenean quis nisi eu purus volutpat feugiat. Sed sit amet pellentesque eros. Suspendisse potenti. Suspendisse imperdiet id dolor ut mollis. Integer fringilla lobortis gravida. Nullam eleifend feugiat lacus, ultricies ultricies nisl venenatis nec. Phasellus vulputate quis libero vel fringilla. Nunc scelerisque nulla eget odio suscipit commodo.</p>
        </div>
        <div class="d-none d-md-block col-6">
        <img src="/static/donuts60.jpg" style="height:320px;border-radius:4px">
        </div>
      </div>
      <h2 class="text-center">Job Openings</h2>
      <div>
        {% for job in jobs %}
          {% include 'jobitem.html'%}
        {% endfor %}
      </div>
      <div class="text-center ">
      <a class="btn btn-primary btn-lg" href=" mailto:hello@donuts.com?subject=Question%20about%20job%20openings&body=My%20name%3A%20%3Cyour%20name%20here%3E%0D%0A%0D%0AMy%20questions%3A%20%3Center%20question%20here%3E ">Contact Us</a>
      </div>
    </div>
    {% include 'footer.html' %}
  </body>
</html>